@{
    ViewData["Title"] = "Home Page";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="card-body p-0">
            <h4>به برنامه مخاطبین من خوش آمدید </h4>
            
        </div>
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
